.body-no-scroll {
    overflow: hidden;
}

.card {
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.status-badge {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 600;
}

.plan-tag {
    border-radius: 20px;
    padding: 4px 12px;
    font-size: 0.8rem;
    font-weight: 500;
}

.header-gradient {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
}

.search-box {
    transition: all 0.3s ease;
}

.search-box:focus-within {
    box-shadow: 0 0 0 3px rgba(37, 117, 252, 0.3);
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Para centralizar verticalmente */
    font-weight: 500;
    background-color: #f8f9fb;
    /* Opcional: cor de fundo */
}

.dot-animation span {
    font-size: 120px;
    animation: blink 1.5s infinite;
    color: #1d2838;
    margin-right: 0.1em;
    /* Pequeno espaço entre os pontos */
}

.dot-animation span:nth-child(2) {
    animation-delay: 0.3s;
}

.dot-animation span:nth-child(3) {
    animation-delay: 0.6s;
}

.dot-animation span:nth-child(4) {
    animation-delay: 0.9s;
}

.dot-animation span:nth-child(5) {
    animation-delay: 1.2s;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}